
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 143px);
    max-width: 439px;
    border: 1px solid black;
    gap:5px;
}
.center__grid {
    margin: 100px auto;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}

.card {
    padding: 5px;
    position: relative;
}
.card:hover  {
    transform: scale(1.02);
    z-index: 2;
    border-left: 4px solid rgb(234 134 0);
    border-right: 4px solid rgb(234 134 0);
    border-top: 4px solid rgb(234 134 0);
}
.card:hover .card__button {
background-color:rgba(234, 134, 0, 1) ;
}
.card:hover .card__stars {
color:rgba(234, 134, 0, 1)
}
.card:hover .card__text {
position: absolute;
left: -4px;
display: block;
background: white;
border-left: 4px solid rgb(234 134 0);
border-right: 4px solid rgb(234 134 0);
border-bottom: 4px solid rgb(234 134 0);
width: 135px;
top: 250px;

}

.card__title {
height: 46px;
}
.card__text {
display: none;
}

.card__stars {
display: block;
margin-left: 5px;
margin-right: 5px;
}
.row-stars {
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
}
hr {
margin: 0;
width: 90%;
opacity: .4;
}

.card__title {
font-size: 13px;
line-height: 16px;
color: #000000;
font-family: "Arial", serif;
margin: 5px 5px 10px;
}
.card__image {
width: 100%;
}
.card__special-text {
text-transform: capitalize;
font-size: 18px;
line-height: 16px;
font-weight: bold;
}
.card__price {
font-size:13px;
margin: 0;
}

.button {
height: 35px;
width: 80px;
font-size: 13px;
color:white;
border: none;
background-color:#383838;
}

/* 320-442 */
@media screen  and (min-width: 320px) and (max-width: 442px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
